html,body{
	width:100%;
	height:100%;
	//overflow:hidden;
}

@import "../lib/core/reset";
@import "../lib/widget/yo-dialog";
@import "../lib/element/yo-loading";
@import "./module/index";
@import "./module/home";
@import "./module/guide";
@import "./module/my";
@import "./module/find";
@import "./module/detail";
@import "./module/login";
@import "./module/register";
@import "./core/comunt";
@import "./core/swiper-3.3.1.min.css";


spa-app{
	position:absolute;
	overflow:hidden;
}

spa-view{
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background:#eceef0!important;
	@include flexbox(flex);
	@include flex-direction(column);
}

